*{
    margin: 0;
    padding: 0;
}


#link,#uname,#btn{
    display: inline-block;
}
#uname{
    background-color: rgb(169, 190, 221);
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    height:21px
}
h1{
    text-align: center;
    background-color: rgb(114, 67, 164);
    height: 80px;
    color: rgb(207, 108, 8);
    font-family:Verdana;
    
}


#prof,#repo{
    display: inline-block;
    background-color: rgb(235, 156, 156);
    overflow: auto;
    
}
#btn{
    height: 35px;
    width: 175px;
    margin-left: 200px;
    font-size: medium;
    color: wheat;
    background-color: rgb(121, 20, 20);
    border-radius: 25px;
    border-style: solid;
    
    
}
#btn:hover{
    background-color: rgb(138, 85, 85);
    color: white;
    font-size: large;
}
#repo{
    /* margin-left: 200px; */
    
    height: 400px;
    width: 700px;
    border-radius: 25px;
    border-style: solid;
    padding: 20px;
    
    
}
#prof{
    /* margin-left: 200px; */
   height: 400px;
    width: 400px;
    border-style: solid;
    border-radius: 25px;
    padding: 20px;
    
    
}
#boss{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}
